<?xml version="1.0"?>

<launch>

  <!--	<arg name="zed_stereo_enabled" default="false"/>	-->
  <!--	<arg name="joystick_enabled" default="false"/>	-->
  <!--	<arg name="imu_enabled" default="false"/>	-->

  <!--	Start uNav Hardware Interface -->
	<include file="$(find plutarco_control)/launch/include/driver.launch" />
  
  <!--	Start ZED camera and laser scan -->
 	<!--	<group if="$(arg zed_stereo_enabled)">	-->
 	<!--		<include file="$(find myzharbot_control)/launch/include/zed_stereo.launch" />	-->
 	<!--	</group>  -->

  <!--	Start IMU sensor -->
	<!--	<group if="$(arg imu_enabled)"> -->
  <!--		<include file="$(find myzharbot_control)/launch/include/imu.launch" /> -->
	<!--	</group> -->

  <!--	Start DCDC Diagnostic node --> <!-- Not yet working on Jetson TX1 -->
  <!--	<include file="$(find myzharbot_control)/launch/include/dcdc_diagnostic.launch" /> -->

  <!--	Load teleoperation telecontrol -->
  <!--	<group if="$(arg joystick_enabled)"> -->
  <!--		<include file="$(find dude_control)/launch/teleop.launch" /> -->
  <!--	</group> -->

  <!-- Start controller, Ultrasonic bumper filter and EKF-->
  <include file="$(find plutarco_control)/launch/control.launch" />
 
</launch>
